<div class="loginSignupBody">
  
  <div id="pageDescription">
    <div id="title">
      <img src="assets/icon.png" alt="gnatto">
      <div>Bookshelf</div>
    </div>
    <h3>Register a new account</h3>  
  </div>

    <svg *ngIf="isLoading" id="loadingIcon" width="64px" height="64px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" class="hds-flight-icon--animation-loading"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="#000000" fill-rule="evenodd" clip-rule="evenodd"> <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z" opacity=".2"></path> <path d="M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z"></path> </g> </g></svg>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="formValidationMessage" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">Please insert a username</div>
    <label>Name:</label>
      <input type="text" placeholder="Name" formControlName="name" />
      
      <label>Email:</label>
      <div class="formValidationMessage" *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched">Invalid email format</div>
      <div class="formValidationMessage" *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched">Email is required</div>
      <div class="formValidationMessage" *ngIf="errorMessage && errorField == `email`">{{ errorMessage }}</div>
      <input type="email" placeholder="Email" formControlName="email" />

    <label>Password:</label>
    <!-- Password required -->
      <div class="formValidationMessage"*ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched">Password is required</div>
    <!-- Password too short -->
    <div class="formValidationMessage" *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">Password must be at least 4 characters</div>
    <div style="display: flex; gap: 5%"><input [attr.type]="!showPassword ? 'password' : 'text'" formControlName="password" placeholder="password" /><svg id="toggleShowPassword" (click)="toggleShowPassword()" width="44px" height="44px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle> </g></svg></div>

    <label>Confirm Password:</label>
    <div class="formValidationMessage" *ngIf="errorMessage && errorField === 'confirmPassword'">Password mismatch</div>
    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
    
    <button type="submit" [disabled]="signupForm.invalid">Register</button>
    <p>Already registered? <a href="/login">Log in</a></p>

    </form>
    <!-- to display unconfigured errors -->
    <div id="genericMessage" class="error" *ngIf="errorMessage && errorField ==``">{{ errorMessage }}</div>

  </div>
  