#topViewBar {
  background-color: #104547;
  height: 5vh;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #efaf66da;
  border-bottom: solid black 2px;
}
#logoutButton {
  margin: 3%;
  border-radius: 10px;
  font-size: 20px;
  height: 80%;
  width: 100px;
  background-color: var(--colorTwo);
  box-shadow: 5px 5px 5px rgba(242, 136, 75, 0.311);

}
#logoutButton:active {
  background-color: rgba(239, 154, 105, 0.879);
  box-shadow: 2px 5px -3px #242323;
  transform: translateY(4px) translateX(5px);
  transition: 0.3s ease;
}

.mainComponentRoot {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

#pageDescription>h3 {
  margin: 0px;
}

.leftColumn {
    background-color: var(--colorOne);
    height: 100%;
    
}

.rightColumn {
    background-color: var(--colorTwo);
    height: 100%;
    display: flex;
    flex-direction: column;
}
#rightColumnTitle {
    display: flex;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: dashed black 2px;
    height: 100px;
}
#searchInputLoadingIconContainer {
  display: flex;
  gap: 10px;
}
  #searchBooksInput {
    width: 100%;
    height: 10px;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  .loadingIcon {
    height: 30px;
  }
  .loadingIconInvisible {
    height: 0px;
  }
  .addBookOptions {
    display: grid;
    grid-template-columns: 4fr 0.5fr 2fr;
    align-items: center;
    margin: 5px;
  }
  .confirmAddBookButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .confirmAddBookButtons>button {
    border-radius: 5px;
    width: 100px;
    border: solid red 2px;
  }
  .confirmAddBookButtons>button:first-child {
    border: solid green 2px;

  }

  #addBookManually {
    margin: 3%;
    border-radius: 10px;
    min-height: 50px;
    background-color: rgb(248, 216, 123);
    box-shadow: 5px 5px 5px rgba(33, 32, 32, 0.311);
    font-family: var(--subtitle-font);
    font-size: 18px;
  }
  #addBookManually:active {
    background-color: #97ee6588;
    box-shadow: 1px 3px -2px #242323;
    transform: translateY(2px) translateX(2px);
    transition: 0.1s ease;
  }
  #addBookManuallyForm {
    display: flex;
    flex-direction: column;
  }
.error {
    color: rgb(117, 22, 22);
  }
.resultsDisplay {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-height: 150vh;
    padding: 3%;
    overflow: auto;
    gap: 10px;
    transition: 1s ease;
    border-radius: 5px;
}
.hideResultsDisplay {
    height: 0px;
    margin: 0px;
    padding: 0px;
    transition: 1s ease;
}

.bookCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
    padding: 1%;
    font-family: var(--body-font);
    font-size: 20px;
    box-shadow: 10px 5px 5px rgba(33, 32, 32, 0.311);
    background-color: rgb(224, 190, 148);
    width: 220px;
}
.bookCell:hover {
    background-color: rgba(190, 144, 76, 0.756);
    transition: 0.3s ease;
    cursor: pointer;
}

.bookCover {
    width: 200px;
    height: 290px;
}

li {
    list-style: none;
}

.savedBooksDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    justify-content: space-around;
    align-content: space-around;
    padding: 3%;
}

.popupMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(33, 32, 32, 0.311);
    padding: 1%;
    width: 30%;
    height: fit-content;
    font-size: 30px;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 40%;
    top: 30%;
    font-weight: 700;
    font-family: var(--subtitle-font);
    font-style: italic;
    background-color: rgb(174, 166, 166);
    z-index: 100;
}
.popupMessageInvisible {
    display: none;
}





.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideIn 0.5s ease forwards;

  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--colorOne);
    padding: 1.5rem;
    border-radius: 10px;
    width: 40%;
    max-height: 80vh;
    overflow-y: auto;
  }
  

  button.danger {
    background-color: #e53935;
    color: white;
    border: none;
    margin-top: 1em;
    cursor: pointer;
  }
  button.danger:hover {
    background-color: #c62828;
  }

  @keyframes slideIn {
    0% {
        opacity: 0.3;
        background-color:var(--colorThree);
        transform: translateY(-100%); /* Start slightly above */
    }
    70% {
        background-color:rgba(16,	69,	71,0.3);
        transform: translateY(0); /* End in place */
    }
    100% {
      background-color:rgba(16,	69,	71, 0.84);
    }
}

@keyframes slideOut {
    0% {
        display: flex;
      background-color:rgba(16,	69,	71, 0.84);
        transform: translateY(0); /* Start in place */
    }
    30% {
      background-color:rgba(16,	69,	71,0.3);
        transform: translateY(0); /* End in place */
    }
    100% {
        display: none;
        transform: translateY(-100%); /* End slightly above */
    }
}

.modal-content.hidden {
  animation: slideOut 0.5s ease forwards;
}