/* You can add global styles to this file, and also import other style files */
button:hover {
    cursor: pointer;
}

body {
    margin: 0px;
}
:root {
    --title-font: 'Fredericka the Great', cursive;
    --subtitle-font:"Nunito Sans", sans-serif;
    --body-font: 'Raleway', sans-serif;
  }
  
  
#loadingIcon {
    animation: rotateInfinite 1s ease-in-out infinite;
  }
  @keyframes rotateInfinite {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }